h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
#welcome {
  background-image: url("../images/backgrounds/h_img.jpg");
  color: white;
  display: grid;
  padding: 320px;
}
#about {
  padding: 150px;
}
#services {
  background-image: url("../images/backgrounds/s_image.jpg");
  color: white;
  padding: 150px;
}
#contact-us {
  background-image: url("../images/backgrounds/c_image.jpg");
  color: white;
  padding: 50px;
}
#socials {
  display: grid;
  padding: 50px;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
#what-we-do {
  padding: 100px;
}
#design {
  display: none;
}
#dev {
  display: none;
}
#product {
  display: none;
}
.jobs {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding: 80px;
}
.works {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center ;
  padding: 80px;
  grid-gap: 20px;
}
#name {
  background-color: transparent;
  text-shadow: white;
}
#email {
  background-color: transparent;
  color: white;
}
#message {
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 1000px) {
}
